{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>{{ package.name }}</h2>
        <p class="lead">{{ package.description }}</p>

        <h4>Versions</h4>
        <div class="list-group mt-3">
            {% for version in package.versions %}
            <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ version }}</h5>
                    <div>
                        <a href="/download/{{ package.name }}/{{ version }}" class="btn btn-primary btn-sm">Download</a>
                        <button class="btn btn-danger btn-sm delete-version" data-package="{{ package.name }}"
                            data-version="{{ version }}">Delete</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Installation</h5>
                <pre><code>pip install {{ package.name }}=={{ package.latest_version }}</code></pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}